= simple_nested_form_for([:company, @training_course, @lesson]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
  
  .lesson-parts
    =render partial: 'lesson_parts_form', locals: {f: f}

  .form-actions
    = f.button :submit