= f.simple_fields_for :lesson_parts, wrapper_html: {class: 'lesson-part-fields'} do |lesson_parts_form|
  .lesson-part.panel
    = lesson_parts_form.input :lesson_part_type, collection: LessonPart.lesson_part_types.map {|p| [p[0], p[0]]}, as: :select, :include_blank => false, :input_html => {class: "lesson-part-selector"}
    .part-type-text
      = lesson_parts_form.input :text_section, :as => :ckeditor
    .part-type-video{style='display:none'}
      = lesson_parts_form.input :action_link_text, input_html: {disabled: "disabled"}
      = lesson_parts_form.input :action_link_url, input_html: {disabled: "disabled"}
      = lesson_parts_form.input :image, input_html: {disabled: "disabled"}, as: :file
    .part-type-resource{style='display:none'}
      = lesson_parts_form.input :show_icon, as: :select, input_html: {disabled: "disabled"}, include_blank: false
      = lesson_parts_form.input :action_link_text, input_html: {disabled: "disabled"}
      = lesson_parts_form.input :link_type, collection: LessonPart.link_types.map {|p| [p[0], p[0]]}, as: :select, input_html: {disabled: "disabled", class: "link-type-selector"}, include_blank: false
      .sub-part-url
        = lesson_parts_form.input :action_link_url, input_html: {disabled: "disabled"}
      .sub-part-asset
        = lesson_parts_form.simple_fields_for :attachment, lesson_parts_form.object.attachment || lesson_parts_form.object.build_attachment do |attachment_fields|
          = attachment_fields.input :file, as: :file
    = lesson_parts_form.link_to_remove "Remove this part"
= f.link_to_add :lesson_parts do
  i.fi-plus
  | Add a part
br
br
