h1 Listing lessons

table
  thead
    tr
      th Title
      th
      th
      th

  tbody
    - @lessons.each do |lesson|
      tr
        td = lesson.title
        td = link_to 'Edit', edit_company_training_course_lesson_path( @training_course, lesson)
        td = link_to 'Destroy', [:company, @training_course, lesson], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Lession', new_company_training_course_lesson_path(@training_course), class: "button"
br
= link_to "Back", company_training_courses_path