=icon($image, $width, $height)
  display: inline-block
  height: 0
  padding-top: $height + px
  width: $width + px
  background: asset_url($image) center center no-repeat
  vertical-align: middle

.icon-arrow-right
  +icon("icon-arrow-right.png", 26, 26)
  margin-left: 6px

.icon-arrow-left
  +icon("icon-arrow-left.png", 26, 26)
  margin-right: 6px

.icon-document
  +icon("icon-document.png", 20, 25)
  margin-left: 6px

.icon-checkbox
  +icon("icon-checkbox-unchecked.png", 27, 25)
.icon-checkbox.checked
  +icon("icon-checkbox-checked.png", 29, 32)