@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300)

@font-face
  font-family: 'snicklesregular'
  src: asset_url('Snickles-webfont.eot')
  src: asset_url('Snickles-webfont.eot?#iefix') format('embedded-opentype'), asset_url('Snickles-webfont.woff') format('woff'), asset_url('Snickles-webfont.ttf') format('truetype'), asset_url('Snickles-webfont.svg#snicklesregular') format('svg')
  font-weight: normal
  font-style: normal
  
=quicksand-font
  font-family: 'Quicksand', sans-serif

=quicksand-font-bold
  font-family: 'QuicksandBold', sans-serif
  font-weight: bold

=arial-font
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif

=cursive-font
  font-family: 'snicklesregular', cursive