= simple_form_for([:company, @company], url: company_company_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :website, placeholder: "http://"
    = f.input :subdomain
    
    
    



  .form-actions
    = f.button :submit
