p#notice = notice

p
  strong Name:
  = @company.name
p
  strong Subdomain:
  = @company.subdomain
p
  strong Commission value:
  = @company.commission_value
p
  strong Commission type:
  = @company.commission_type
p
  strong Terms value:
  = @company.terms_value
p
  strong Terms type:
  = @company.terms_type

= link_to 'Edit', edit_company_path(@company)
'|
= link_to 'Back', companies_path
