h1 Listing asset_groups

table
  thead
    tr
      th Name
      th
      th
      th

  tbody
    - @asset_groups.each do |asset_group|
      tr
        td = asset_group.name
        td = link_to 'Edit', edit_company_asset_group_path(asset_group)
        td = link_to 'Destroy', [:company, asset_group], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Asset group', new_company_product_group_path
