.track
  .gray-container.totals-container
    .row
      .columns.large-6
        .total-box.clearfix
          .title-box
            =image_tag "icon-pending.png"
            | Pending
          .value-box
            = number_to_currency(current_rep.balances.unpaid.sum(:amount_cents) / 100)
      .columns.large-6
        .total-box.clearfix
          .title-box
            =image_tag "icon-calendar.png"
            | Last Month
          .value-box
            = number_to_currency(current_rep.balances.last_month.paid.sum(:amount_cents) / 100)
    .row
      .columns.large-6
        .total-box.clearfix
          .title-box
            =image_tag "icon-approved.png"
            |  Approved This Month
          .value-box
            = number_to_currency(current_rep.balances.this_month.paid.sum(:amount_cents) / 100)
      .columns.large-6
        .total-box.clearfix
          .title-box
            =image_tag "icon-graph.png"
            | Lifetime
          .value-box
            = number_to_currency(current_rep.balances.paid.sum(:amount_cents) / 100)
  .row
    .columns.large-12
      = high_chart_globals(@chart_globals)
      = high_chart("last-year-totals-chart", @chart)
      .chart-title
        | Last 12 months
  .row
    .columns.large-12
      table#customers-table
        thead
          tr
            th.title(colspan=4) Recent Customers
          tr
            th Name
            th Email
            th Adderess
            th Order
        tbody
          - for event in @events
            tr
              td= event.name
              td= event.email
              td= event.address
              td= "#{event.quantity} #{event.products}"
