= simple_nested_form_for([:company, @campaign]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
  h2 Default Commission Rule
  = f.fields_for :commission_rule do |commission_rule_form|
    .row
      .columns.large-2
        = commission_rule_form.input :commission_value
      .columns.large-6
        = commission_rule_form.input :commission_type,  include_blank: false
      .columns.large-4
    .row
      .columns.large-2
        = commission_rule_form.input :terms_value
      .columns.large-6
        = commission_rule_form.input :terms_type, include_blank: false
      .columns.large-4 
        | After delivery
  h2 Groups
  .panel
    - @company.groups.each do |group|
      label
        = check_box_tag "campaign[group_ids][]", group.id, @campaign.group_ids.include?(group.id)
        = group.name




  h3 Product Groups
  .panel
    - @company.product_groups.each do |product_group|
      label
        = check_box_tag "campaign[product_group_ids][]", product_group.id, @campaign.product_group_ids.include?(product_group.id)
        = product_group.name

  .form-actions
    = f.button :submit