h1 Campaigns

ul.medium-block-grid-4.box-grid
  li 
    =link_to new_company_campaign_path do
      .block-content
        i.fi-plus
        h3 Add new 
  - @campaigns.each do |campaign|
    li
      .block-content
        p
          = campaign.name
        p
          = link_to 'Edit', edit_company_campaign_path(campaign), class: "button"
        p
          = link_to 'Destroy', [:company,campaign], data: {:confirm => 'Are you sure?'}, :method => :delete


