= simple_form_for([:company, @rep]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    - unless @rep.confirmed_at.blank?

      = f.input :website
      = f.input :street_address
      = f.input :street_address_2
      = f.input :city
      - options = {form: f, field_names: { :country => :country, :state => :state }}
      = f.input :country, collection: CountryStateSelect.countries_collection
      .selected-state(data-selected-state= "#{@rep.state}")
      = f.input :state, collection: CountryStateSelect.state_options(options)
      = f.input :zip

      = f.input :phone
      = f.input :alt_phone
    h2 Groups
    .panel
      - @company.groups.each do |group|
        .group
          label
            = check_box_tag "rep[group_ids][]", group.id, @rep.group_ids.include?(group.id)
            = group.name
    - unless @rep.new_record?
      .panel
        table
          tr
            td= label_tag "Sales YTD:"
            td= number_to_currency(@rep.sales_ytd)
          tr
            td= label_tag "Commission YTD:"
            td= number_to_currency(@rep.commission_ytd)
          tr
            td= label_tag "Sales since active:"
            td= number_to_currency(@rep.sales_since_active)
          tr
            td= label_tag "Commission since active:"
            td= number_to_currency(@rep.commission_since_active)
          tr
            td= label_tag "Unpaid commissions:"
            td= number_to_currency(@rep.unpaid_commissions)
          tr
            td= label_tag "Next commission due:"
            td= @rep.next_commission_due

      .panel
        h2 Sales history
        table
          tr
            th Transaction date
            th Total Amount
            th Commission Amount
            th Status
            th
            th
          - for balance in @rep.balances.order("created_at desc")
            tr
              td= balance.event.created_at
              td= number_to_currency(balance.event.revenue)
              td= number_to_currency(balance.amount)
              td= balance.paid? ?  "Paid" : "Unpaid"
              td
                = link_to "Pay", company_rep_balance_path(@rep, balance, balance: {paid: "true"}), method: "PATCH" unless balance.paid?
              td
                = link_to "Details", company_rep_balance_path(@rep, balance)



  .form-actions
    = f.button :submit
