h1 Your Reps
- if @reps.empty?
  h3 No Reps yet
- else
  table
    thead
      tr
        th[colspan="3"] Rep
        th[colspan="4"] Commissions
        th[colspan="3"] Actions
      tr
        th Name
        th Status
        th Email
        th Unpaid
        th Next Due
        th Paid YTD
        th Paid Total
        th 
        th
        th

    tbody
      - @reps.each do |rep|
        tr
          td = rep.full_name
          td = rep.status
          td = rep.email
          td = number_to_currency(rep.unpaid_commissions)
          td = rep.next_commission_due
          td = number_to_currency(rep.commission_ytd)
          td = number_to_currency(rep.commission_since_active)
          td = link_to edit_company_rep_path(rep) do 
            i.fi-pencil
            | Details
          td
            - if rep.inactive? || rep.suspended?
              = link_to company_rep_path(rep, rep: { status: "active"}), method: "patch" do
                i.fi-check
                | Activate
            - elsif rep.active?
              = link_to company_rep_path(rep, rep: { status: "inactive"}), method: "patch" do
                i.fi-x
                | Suspend
            -else
              = rep.token
  br

= link_to 'Sign up a new Rep', new_company_rep_path, class: "button"
