p#notice = notice

p
  strong First name:
  = @rep.first_name
p
  strong Last name:
  = @rep.last_name
p
  strong Email:
  = @rep.email
p
  strong Password:
  = @rep.password
p
  strong Password confirmation:
  = @rep.password_confirmation

= link_to 'Edit', edit_rep_path(@rep)
'|
= link_to 'Back', reps_path
