h1 Transaction

table
  tr
    td= label_tag :order_number
    td= @balance.event.order_number
  tr
    td= label_tag :transaction_token
    td= @balance.event.transaction_token
  tr
    td= label_tag :customer_name
    td= @balance.event.name
    
  tr
    td= label_tag :email
    td= @balance.event.email
  tr
    td= label_tag :address, "Customer address"
    td= @balance.event.address
  tr
    td= label_tag :ip_address
    td= @balance.event.ip_address
  tr
    td= label_tag :order_date
    td= @balance.event.created_at
  tr
    td= label_tag :sale_amount
    td= number_to_currency(@balance.event.revenue)
  tr
    td= label_tag :products
    td= @balance.event.products
  tr
    td= label_tag :quantity
    td= @balance.event.quantity
  tr
    td= label_tag :commission_amount
    td= label_tag number_to_currency(@balance.amount)
  tr
    td= label_tag :paid
    td= @balance.paid

= link_to "<< Back", edit_company_rep_path(@rep)