= simple_nested_form_for([:company, @asset], html: {class: "asset-form"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :asset_type, collection: Asset.asset_types.map {|o| [o[0], o[0]]}, include_blank: false, as: :select
    = f.input :title
    .sendable-fields
      = f.input :content, as: :ckeditor
    .sharable-fields
      = f.simple_fields_for :attachment do |attachment_form|
        = attachment_form.input :file, as: :file

        -if f.object.asset_type == "sharable"
          = image_tag attachment_form.object.file.url unless attachment_form.object.file.blank?
        -if f.object.asset_type == "printable"
          = attachment_form.object.file.url unless attachment_form.object.file.blank?
    .panel
      h3 Product groups
      - @company.product_groups.each do |product_group|
        label
          = check_box_tag "asset[product_group_ids][]", product_group.id, @asset.product_group_ids.include?(product_group.id)
          = product_group.name
  .form-actions
    = f.button :submit

