h1 Listing assets

table
  thead
    tr
      th Asset type
      th Title
      th Content
      th
      th
      th

  tbody
    - @assets.each do |asset|
      tr
        td = asset.asset_type
        td = asset.title
        td = asset.content
        td = link_to 'Edit', edit_company_asset_path(asset)
        td = link_to 'Destroy', [:company, asset], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Asset', new_company_asset_path
