p#notice = notice

p
  strong Asset type:
  = @asset.asset_type
p
  strong Title:
  = @asset.title
p
  strong Content:
  = @asset.content

= link_to 'Edit', edit_asset_path(@asset)
'|
= link_to 'Back', assets_path
