h1 Groups
h3 Rep Groups
table
  thead
    tr
      th Name
      th Description
      th Default
      th
      th
      th

  tbody
    - @groups.each do |group|
      tr
        td = group.name
        td = group.description
        td = group.default
        td = link_to 'Edit', edit_company_group_path(group)
        td = link_to 'Destroy', [:company, group], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to new_company_group_path, class: 'button' do
  i.fi-plus
  | New Rep Group

h4 Product Groups
table
  thead
    tr
      th Name
      th
      th
      th

  tbody
    - @product_groups.each do |product_group|
      tr
        td = product_group.name
        td = link_to 'Edit', edit_company_product_group_path(product_group)
        td = link_to 'Destroy', [:company, product_group], data: {:confirm => 'Are you sure?'}, :method => :delete

br
= link_to new_company_product_group_path, class: 'button' do
  i.fi-plus
  | New Product Group

