p#notice = notice

p
  strong Name:
  = @group.name
p
  strong Description:
  = @group.description
p
  strong Default:
  = @group.default

= link_to 'Edit', edit_group_path(@group)
'|
= link_to 'Back', groups_path
