.share
  .custom-link-row
    .row
      .columns.large-4
        h2 My Custom Link
      .columns.large-8
        = text_field_tag :referral_link,  @selected_campaign.referral_link(current_rep)

  .row
    .columns.large-12
      ul.tabs(data-tab="" role="tablist")
        li.tab-title.active(role="presentation")
          a(href="#panel-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-1") Sendables
        li.tab-title(role="presentation")
          a(href="#panel-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-2") Sharables
        li.tab-title(role="presentation")
          a(href="#panel-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-3") Printables
  .row
    .columns.large-12
      .tabs-content
        section(role="tabpanel" aria-hidden="false" class="content active" id="panel-1")
          table#sendables-table
            thead
              tr
                th Title
                th Content
                th
            tbody
              - for sendable in @sendables
                tr
                  td= sendable.title
                  td= truncate(strip_tags sendable.content)
                  td= link_to "View", "#",  :'data-reveal-id' => "sendable-modal-#{sendable.id}", class: "button round expand secondary"

          -for sendable in @sendables

            div(id="sendable-modal-#{sendable.id}" class="reveal-modal" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
              h2= sendable.title

              = raw sendable.content
              =link_to "#", class: "close-reveal-modal", :'aria-label' => "Close" do
                = raw "&#215;"

        section(role="tabpanel" aria-hidden="true" class="content" id="panel-2")
          table#sharables-table.dataTable-grid
            thead
              tr
                th
                th
            tbody
              - for sharable in @sharables
                tr
                  td
                    -unless sharable.attachment.new_record?
                      = link_to attachment_path(sharable.attachment), target: "_blank" do
                        = image_tag sharable.attachment.file.thumb unless sharable.attachment.file.blank?
                  td= sharable.title
        section(role="tabpanel" aria-hidden="true" class="content" id="panel-3")
          table#printables-table
            thead
              tr
                th
                th
            tbody
              - for printable in @printables
                tr
                  td= printable.title
                  td= link_to attachment_path(printable.attachment), target: "_blank", class: "button round expand secondary" do
                    | View
