- if overview && lesson.has_video_part?
  .columns.large-6
    - part = lesson.lesson_parts.video.first
    = link_to image_tag(part.image.url), part.action_link_url, target: "_blank"
.columns(class="#{lesson.has_video_part? ? "large-6": "large-12"}")

  -unless overview
    i.icon-checkbox(class="#{"checked" if lesson.completed(current_rep)}")
  h3 = lesson.title
  -lesson.lesson_parts.each do |part|
    -if part.text?
      p= raw part.text_section
    -elsif part.video?
      h4.action-item= link_to part.action_link_url, target: "_blank" do
        - if overview
          i.icon-arrow-left
          = part.action_link_text
        -else
          = part.action_link_text
          i.icon-arrow-right
    -elsif part.resource?
      -if part.asset?
        h4.action-item= link_to attachment_path(part.attachment), target: "_blank" do
          = part.action_link_text
          -if part.show_icon?
            i.icon-document
      - else
        h4.action-item= link_to part.action_link_url, target: "_blank" do
          = part.action_link_text
          -if part.show_icon?
            i.icon-document
-if lesson.has_video_part? && !overview
  .columns.large-6
    - part = lesson.lesson_parts.video.first
    = link_to image_tag(part.image.url), part.action_link_url, target: "_blank", class: "action-item"
