.learn

  - unless @company.portal.training_overview.new_record?
    .row.lesson-container.overview
      = render :partial => "lesson", locals: {lesson: @company.portal.training_overview, overview: true} 
  - unless @selected_training_course.nil?
    .row.lesson-container.section-intro
      .columns.large-12
        h2 
          | Part 
          = @selected_training_course.course_number
          | : 
          = @selected_training_course.title
        p =@selected_training_course.description
    - @selected_training_course.lessons.each do |lesson|
      .row.lesson-container(id="lesson-#{lesson.id}")
        =render :partial => "lesson", locals: {lesson: lesson, overview: false}
        
    