= simple_form_for([:company, @training_course]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :course_number
    = f.input :title
    = f.input :description

  .panel
    h3 Product groups
    - @company.product_groups.each do |product_group|
      label
        = check_box_tag "training_course[product_group_ids][]", product_group.id, @training_course.product_group_ids.include?(product_group.id)
        = product_group.name
  .form-actions
    = f.button :submit
