h1 Training courses

table
  thead
    tr
      th Course number
      th Title
      th
      th
      th

  tbody
    - @training_courses.each do |training_course|
      tr
        td = training_course.course_number
        td = training_course.title
        td = link_to 'Edit Lessons', company_training_course_lessons_path(training_course)
        td = link_to 'Edit', edit_company_training_course_path(training_course)
        td = link_to 'Destroy', [:company, training_course], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Training course', new_company_training_course_path
