= simple_nested_form_for([:company, @portal], url: company_portal_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :registration_content, as: :ckeditor
    .panel
      = image_tag(f.object.logo.small.url) unless f.object.logo.small.nil?
      = f.input :logo


  
  h2 Training 
  h3 Training Overview
  .lesson-parts
    = f.simple_fields_for :training_overview do |training_overview_form|
      = training_overview_form.input :title
      = render :partial => 'company/lessons/lesson_parts_form', locals: {f: training_overview_form}

  .form-actions
    = f.button :submit