h1 Listing portals

table
  thead
    tr
      th Registration content
      th Logo
      th
      th
      th

  tbody
    - @portals.each do |portal|
      tr
        td = portal.registration_content
        td = portal.logo
        td = link_to 'Show', portal
        td = link_to 'Edit', edit_portal_path(portal)
        td = link_to 'Destroy', portal, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Portal', new_portal_path
