= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :website, placeholder: "http://"
    = f.input :subdomain

    


  .form-actions
    = f.button :submit
