h1 Listing companies

table
  thead
    tr
      th Name
      th Subdomain
      th Commission value
      th Commission type
      th Terms value
      th Terms type
      th
      th
      th

  tbody
    - @companies.each do |company|
      tr
        td = company.name
        td = company.subdomain
        td = company.commission_value
        td = company.commission_type
        td = company.terms_value
        td = company.terms_type
        td = link_to 'Show', company
        td = link_to 'Edit', edit_company_path(company)
        td = link_to 'Destroy', company, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Company', new_company_path
