.dataTable.dataTable-grid tbody, .dataTable.dataTable-grid  thead
  display: none


.dataTables_wrapper  #thumbs_container
  display: flex
  flex-wrap: wrap

.dataTables_wrapper  #thumbs_container img
  height: 300px
  width: 300px
  border: solid 1px $black
  margin: 10px
