.top-bar
  height: 100px
  box-shadow: 0 0px 10px $black
  z-index: 100

.portal .top-bar .title-area
  position: relative
  top: 50%
  margin-top: -30px

.portal .top-bar-section ul.nav-links
  display: inline-block
  margin-top: 15px

.portal .top-bar-section ul.nav-links > li

  margin-right: 20px

.portal .top-bar-section ul.nav-links a
  +quicksand-font
  font-size: 2rem
  padding: 15px 0 !important
  display: block 

.portal .top-bar-section ul.nav-links a:hover, .portal .top-bar-section ul.nav-links li.active a
  border-bottom: solid 2px $aluminum

.portal .top-bar .portal-label
  margin-top: 20px
  +cursive-font
  font-size: 3rem
  color: $yellow
  padding-right: 15px

.portal .has-dropdown
  margin-right: 20px 
  margin-top: 28px

.portal .has-dropdown > a
  background: $charcoal !important
  border-radius: 4px
  color: $aluminum
  font-size: rem-calc(20)
  padding-right: 4.1875rem !important

.portal .has-dropdown > a:after
  border-color: white transparent transparent transparent

.portal .has-dropdown > a:before
  content: ""
  background: $white
  width: 1px
  position: absolute
  z-index: 100
  right: 39px
  top: 4px
  bottom: 4px