$border-radius: 12px

.totals-container
  padding: 20px 0

.total-box
  border: solid 1px #dadbdd
  border-radius: $border-radius
  margin-top: 20px
  margin-bottom: 20px
  display: flex
  align-items: center
  background: #f1f3f2

.total-box .title-box
  background: $white
  border-top-left-radius: $border-radius
  border-bottom-left-radius: $border-radius
  width: 60%
  border-right: solid 1px #dadbdd

.total-box .title-box img
  margin-right: 10px

.total-box .value-box
  border-top-right-radius: $border-radius
  border-bottom-right-radius: $border-radius
  font-weight: bold
  width: 40%

.total-box .title-box, .total-box .value-box
  float: left
  padding: 10px 20px

