.learn .lesson-container
  padding: 30px 0

.learn .overview
  border-bottom: solid 2px $black

.learn .section-intro
  text-align: center

.learn .icon-checkbox
  float: left
  margin: 10px 5px 0 0

.learn .icon-checkbox.checked
  float: left
  margin: 4px 5px 0 0

.learn .bonus
  color: $orange
  font-weight: bold

.learn .action-item
  +quicksand-font-bold
