
.share .custom-link-row
  background: $smoke
  margin-left: -15px
  margin-right: -15px
  padding: 15px

.share .custom-link-row h2
  +cursive-font
  color: $green
  text-align: right

.share .custom-link-row .row
  display: flex
.share .custom-link-row .columns
  height: 50px
  margin: auto
  input
    margin-top: 8px

.share .tabs
  display: flex
  justify-content: center
  border-bottom: solid 1px $black

.share .tabs .tab-title.active > a
  background: $smoke + 10
  border-bottom: solid 1px $gray

.share .tabs .tab-title > a
  background: $white
