= simple_form_for(@rep, :url=> "/reps/profile") do |f|
  = f.error_notification

  .form-inputs
    label Email
    = @rep.email
    = f.input :first_name
    = f.input :last_name
    
    = f.input :website
    = f.input :street_address
    = f.input :street_address_2
    = f.input :city

      
    = f.input :country, collection: CountryStateSelect.countries_collection
    - options = { form: f, field_names: { :country => :country, :state => :state }}
    .selected-state(data-selected-state= "#{@rep.state}")
    = f.input :state, collection: CountryStateSelect.state_options(options)
    = f.input :zip
        
    = f.input :phone
    = f.input :alt_phone

  .form-actions
    = f.button :submit, "Update profile"
