.box-grid li
  
  text-align: center

.box-grid i
  color: $blue
  font-size: 3.5rem 

.box-grid .block-content
  border: solid 1px $gray
  height: 200px
  width: 200px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
