= simple_form_for(@rep, url: rep_registration_path(@rep)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :first_name
    = f.input :last_name
    
    = f.input :website
    = f.input :street_address
    = f.input :street_address_2
    = f.input :city

      
    = f.input :country, collection: CountryStateSelect.countries_collection
    - options = { form: f, field_names: { :country => :country, :state => :state }}
    .selected-state(data-selected-state= "#{@rep.state}")
    = f.input :state, collection: CountryStateSelect.state_options(options)
    = f.input :zip
        
    = f.input :phone
    = f.input :alt_phone

  .form-actions
    = f.button :submit, "Sign up"
