/ navigation styled for Zurb Foundation 5
nav.top-bar[data-topbar]
  ul.title-area
    li.toggle-topbar.menu-icon
      a[href="#"]
        Menu
  .top-bar-section.right
    ul
      li
        = link_to 'Edit company', edit_company_company_path
      == render 'layouts/navigation_links'
      == render 'layouts/nav_links_for_auth'

