== link_to company_dashboard_path, class: "item" do
  i.fi-home
  label Home
== link_to company_campaigns_path, class: "item" do
  i.fi-megaphone
  label Campaigns
== link_to company_reps_path, class: "item" do
  i.fi-torso-business
  label Reps
== link_to company_groups_path, class: "item" do
  i.fi-torsos-all
  label Groups
== link_to company_training_courses_path, class: "item" do
  i.fi-clipboard-pencil
  label Training Course
== link_to company_assets_path, class: "item" do
  i.fi-clipboard-notes
  label Assets
== link_to edit_company_portal_path, class: "item" do
  i.fi-page
  label Portal