doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Repfully'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Repfully'}"
    == stylesheet_link_tag "application-company", :media => 'all'
    / Modernizr is required for Zurb Foundation
    == javascript_include_tag 'vendor/modernizr'
    == javascript_include_tag 'application'
    == csrf_meta_tags
  body
    .off-canvas-wrap.move-right data-offcanvas=""
      .inner-wrap
        a.left-off-canvas-toggle href="#"
          i.fi-list
        aside.left-off-canvas-menu
          .icon-bar.vertical.five-up
            == render 'layouts/side_nav'
        header
          == render 'layouts/company_navigation'
    
        main[role="main"]
          == render 'layouts/messages'
          == yield
 
