doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Repfully'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Repfully'}"
    == stylesheet_link_tag "application-portal", :media => 'all'
    / Modernizr is required for Zurb Foundation
    == javascript_include_tag 'vendor/modernizr'
    == javascript_include_tag 'application'
    == csrf_meta_tags
  body.portal
    header
      nav.top-bar[data-topbar]
        ul.title-area
          li.name
            = link_to image_tag('LighthoofLogo-small.png'), portal_root_path
          li.toggle-topbar.menu-icon
            a[href="#"]
              Menu
        .top-bar-section
          ul.nav-links
            = nav_item "Track", portal_track_path
            = nav_item "Learn", portal_learn_path
            = nav_item "Share", portal_share_path
          ul.right
            li.portal-label Ambassador Portal
            li.has-dropdown
              =link_to "Welcome, #{current_rep.first_name}."
              ul.dropdown
                li= link_to "> profile", edit_reps_profile_path
                li= link_to "> notifications"
                li= link_to "> log out", destroy_rep_session_path, :method => :delete
    main[role="main"]
      == render 'layouts/messages'
      == yield