doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Repfully'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Repfully'}"
    == stylesheet_link_tag "application-portal", :media => 'all'
    / Modernizr is required for Zurb Foundation
    == javascript_include_tag 'vendor/modernizr'
    == javascript_include_tag 'application'
    == csrf_meta_tags
  body.portal.logged-out
    header
      nav.top-bar[data-topbar]
        ul.title-area
          li.name
            = link_to  portal_root_path do
              = image_tag(@company.portal.logo.small.url) unless @company.portal.logo.blank?
         
    main[role="main"]
      == render 'layouts/messages'
      == yield